@mixin sp {
  @media (max-width:(600px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(820px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1120px)) {
    @content;
  }
}

/* =================================
会社概要
 ================================= */

.page-company {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

}

.company-section01 {
  padding: 0 0 80px;

  &__lead {
    font-size: clamp(1rem, 0.481rem + 2.59vw, 2.75rem);
    text-align: center;
    font-weight: bold;
    color: #0b5394;
    letter-spacing: 0.3rem;
    padding: 24px 0 54px;

    @include sp {
      letter-spacing: 0.1rem;
      padding: 20px 0;

    }
  }

  &__content {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 12px;
    display: flex;
    gap: 40px;

    @include tab {
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }
  }

  &__img {
    width: 340px;

    @include tab {
      width: 320px;
      order: 1;
    }
  }

  &__text-wrap {
    flex: 1;
  }

  &__text {
    margin: 0 0 24px;

    &--right {
      text-align: right;
      margin: 40px 0 0;
      font-weight: 500;
    }
  }

  &__text-span {
    font-size: 150%;
    margin: 0 0 0 16px;
    display: inline-block;
  }

}

.company-section02 {
  background-color: #f2f2f2;
  padding: 60px 12px;

  @include sp{
    padding: 32px 12px;

  }

  &__ttl {
    max-width: 760px;
    margin: 0 auto 40px;
    font-size: clamp(1rem, 0.926rem + 0.37vw, 1.25rem);
    font-weight: 500;

    @include sp{
      margin: 0 auto 24px;

    }
  }

  &__content {
    max-width: 740px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 34px;

    @include sp{
      padding: 24px;

    }
  }

  &__table {
    width: 100%;
    font-size: 15px;

    tr {
      border-bottom: #1a7fbb dotted 1px;
    }


    th {
      color: #1a7fbb;
      text-align: left;
      vertical-align: middle;
      padding: 4px 0 4px 28px;
      font-weight: 500;
      width: 160px;

      @include tab{
        padding: 4px 0 4px 2px;
        width: 90px;
      }

      @include sp{
        font-size: 13px;
        }
    }

    td {
      color: #080808;
      text-align: left;
      vertical-align: middle;

      @include sp{
      font-size: 13px;
      }
    }


  }

  &__ {}

  &__ {}

}

.page-company {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

}




/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}


/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}


/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}


/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}